@import "header";

@font-face {
    font-family: 'lao_sangam_mnregular';
    src: url('../fonts/lao_sangam_mn-webfont.eot');
    src: url('../fonts/lao_sangam_mn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lao_sangam_mn-webfont.woff2') format('woff2'),
         url('../fonts/lao_sangam_mn-webfont.woff') format('woff'),
         url('../fonts/lao_sangam_mn-webfont.ttf') format('truetype'),
         url('../fonts/lao_sangam_mn-webfont.svg#lao_sangam_mnregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

