// images-icons in 3 columns
.section-image {
  height: 130px;
}

// slider hero image overlay
.img-tint {
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
