//color variables
$white: #fff;
$grey: #484848;
$light-grey: #ececec;
$turquoise: #249799;
$dark-blue: #195d73;

//regular font-variables
$large-font: 40px;
$medium-font: 20px;
$basic-font: 15px;
$small-font: 12px;

//media-queries font-variables
$mq-large-font: 20px;
$mq-basic-font: 13px;
$mq-small-font: 11px;

// margins setup
$base-margin: 5px;
