// icons styling
.icon-angle-down .location {
  color: $turquoise;
}

.icon-search {
  color: $white;
}

.icon-menu {
  color: $dark-blue;
  cursor: pointer;
  display: none;
  float: right;
  font-size: 30px;
  margin: 2 * $base-margin 0;
}

.icon-large {
  font-size: 100px;
}
